:root {
    --primary-brand-color: #4d5ae5;
    --logo-font: "Raleway", sans-serif;
    --main-font: "Roboto", sans-serif;
    --main-color: #434455;
    --secondary-color: #2e2f42;
    --active-contact-color: #404bbf;
    --minor-color: #f4f4fd;
    --nondescript-color: #ffffff;
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--nondescript-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.contacts {
    font-style: normal;
}

.logo {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}

/* ======================= HEADER ======================== */

.header {
    background: var(--nondescript-color);
}

.header-logo-tail {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.nav-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active-contact-color);
}

.contacts-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-contact-color);
}

/* =================== HERO ================= */

.hero {
    background-color: var(--secondary-color);
}

.hero-title {
    font-family: var(--main-font);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--nondescript-color);
}

.hero-btn {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--nondescript-color);
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--active-contact-color);
}

/* ==================== FEATURES ======================= */

.features-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

/* ===================== TEAM & PROJECTS ===================== */

.team-cards {
    background: var(--minor-color);
}

.team-member-card,
.project-card {
    background: var(--nondescript-color);
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.card-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.filter-btn {
    background: var(--minor-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
}

.filter-btn:hover,
.filter-btn:focus {
    background: var(--active-contact-color);
    color: var(--nondescript-color);
    cursor: pointer;
}

/* ========================= FOOTER ======================== */

.footer {
    background-color: var(--secondary-color);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--minor-color);
}

.footer-logo-tail {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--minor-color);
}